img{
    max-width: 100%;
    display: block;
}
.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}


/*********************/
/* HEADER INICIO */
/*********************/
.header {
    position: absolute;
    width: 100%;
  }
 .header-inner{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 99;
     background-color: white;
 }

.nav-item .nav-link {
    display: block;
    line-height: 36px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color:gray;
    transition: 0.15s;
}

.navbar-btn {
    background-color: white;
    cursor: pointer;

}
.navbar-toggler-icon{
    background-color: #111;
    border-radius: 5px;
}
/*********************/
/* HEADER FINAL */
/*********************/



/*********************/
/* CAROUSEL INICIO */
/*********************/
.carousel-item{
    z-index: -1000;
    max-height: 100vh;
    
}
/*********************/
/* CAROUSEL FINAL */
/*********************/


/*********************/
/* QUIENES SOMOS INICIO */
/*********************/
.motivacion{
    width: 70%;
    margin: 0 auto;
}

.titulo-nosotros {
    padding-top: 100px;
}

.motivacion h3{
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}
/*********************/
/* QUIENES SOMOS final */
/*********************/


/*********************/
/* CARDS INICIO */
/*********************/
.card-titulo{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
.cartas{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    margin: 10px;
    
}
.cartas-img{
    border: 0px solid #111;
    border-radius: 5px;
    box-shadow: 7px 4px 5px 0px rgba(0,0,0,0.33);
    -webkit-box-shadow: 7px 4px 5px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 7px 4px 5px 0px rgba(0,0,0,0.33);
}
.cartas-img img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.cartas-contenido h4{
    margin-left: 10px;
}
.cartas-contenido p{
    margin-left: 10px;
}
.contact{
    background-color: #5590b4;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    width: 23%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) { 
    .cartas{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

/*********************/
/* CARDS FINAL */
/*********************/



.mapa {
    padding: 100px;
}


/*********************/
/* FOOTER INICIO */
/*********************/
/** Footer **/
.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}
.site-footer a{
    text-decoration: none;
    color: #111;
}
.site-footer h3 {
    margin-bottom: .5rem;
    text-align: center;
}
@media (min-width: 768px) { 
    .site-footer h3{
        text-align: left;
    } 
    .grid-footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

.grid-footer > div{
    margin-bottom: 2rem;
}
@media (min-width: 768px) { 
    .grid-footer > div{
        margin: 0;
    }
}


.footer-menu a {
    display: block;
    text-align: center;
}
@media (min-width: 768px) { 
    .footer-menu a{
        text-align: left;
    }
}

.copyright {
    margin-top: 5rem;
    text-align: center;
}
/*********************/
/* FOOTER FINAL */
/*********************/



